/* d3 candle stick start */

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    fill: black;
}

.bar {
    fill: green;
  }
  
  .bar:hover {
    fill: brown;
  }

  .volumebars{
    fill-opacity: 0.5;
    opacity: 0.3;
    stroke-opacity: 0.5;
  }


